body {
    background-color: hsl(240, 73%, 65%);
    color: hsl(238, 29%, 16%);
    font-size: 18px; /* TODO */
}

.logo-holder-mobile {
    text-align: center;
    margin-bottom: -100px;
}

.logo-holder-desktop {
    display: none;
}
.logo-mobile-bg {
    margin-left: -240px;
    margin-top: 50px;
}
.bigdiv {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 100px;
}

.faq {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: hsl(240, 5%, 91%) 1px solid;
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.response {
    display: none;
}

.question::after {
    content: url("images/icon-arrow-down.svg");
    /*display:inline-block;*/
    float: right;
    transition: transform 300ms;
    
}
.faq.selected .question {
    font-weight: bold;
}

.faq.selected .question::after {
    transform: rotate(0.5turn);
}

.faq.selected .response {
    display: block;
}

@media only screen and (min-width: 1024px) {
    .content {
        width: 40%;
        display: inline-block;
        margin-right: 0px;
        position: absolute;
        right: 0;
    }
    

    .bigdiv {
        position: relative;
        padding-bottom: 50px;
    }

    h1 {
        text-align: left;
        padding-left: 30px;
    }

    .logo-holder-mobile {
        display: none;
    }
    .logo-holder-desktop {
        display: inline-block;
        position: relative;
        width: 40%;
    }

    .logo-box{
        position: absolute;
        top: 130px;
        left: -90px;
        z-index: 1;
    }

    .logo-desktop{
        left:-80px;
        top: 0px;
        z-index: 0;
        position: relative;
    }

    .logo-desktop-bg{
        position: absolute;
        left: -100px;
        top: -100px;
        transform: scale(0.5) translate(-490px, -310px);
    }

    .bigdiv::after{
        content: "";
        clear: both;
    }
    
}