body {
    background-color: hsl(240, 73%, 65%);
    color: hsl(238, 29%, 16%);
    font-size: 18px; /* TODO */
}

.logo-holder {
    text-align: center;
    margin-bottom: -100px;
}
.logo-mobile-bg {
    margin-left: -240px;
    margin-top: 50px;
}
.bigdiv {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-size: 3em;
    padding-top: 100px;
}

.faq {
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: hsl(240, 5%, 91%) 1px solid;
}

.question:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}



.response {
    display: none;
}

.question::after {
    content: url("images/icon-arrow-down.svg");
    display: inline-block;
    float: right;
    transition: transform 300ms;
    
}
.faq.selected .question {
    font-weight: bold;
}

.faq.selected .question::after {
    transform: rotate(0.5turn);
}

.faq.selected .response {
    display: block;
}